
.logoH{
    max-width: 60px;
    height: auto;
}
.header {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}

  
  .headerLogo {
    margin-right: 10px;
  }
  .headerLogo:hover .logoH{
    transform:scale(1.2);
    box-shadow: 0 0 10px red;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 35%;
  }
  
  .headerLink {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-grow: 1;
  }

  .headerLink a{
    color:white;
    font-size: 16px;
    text-decoration: none;
    transition: font-size 0.2s, color 0.2s;
  }
  .headerLink a:hover{
    font-size: 22px;
    color:white;
    box-shadow: inset 0  0 15px  red;
    border-radius: 80px 20px;
    padding:3px 7px;
  }
  

  
