@media (max-width: 649px){

.logoAF{  
  max-width: 60px;
  height: auto;
}
.logoGF{  
  max-width: 60px;
  height: auto;
}
.logoMF{  
  max-width: 60px;
  height: auto;
}
.logoBF{  
  max-width: 90px;
  height: auto;
}
.logoLF{  
    max-width: 6cqb;
    height: auto;
}
.footer{
  background-color: black;
}
.footer h4{
  color:white
}
.logoIH{
  max-width: 40px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 30px;
}
.logoIH:hover{
  transform: scale(1.8);
}
.logoLF:hover{
  transform: scale(1.8);
  
}
/* Estilos para el div .footer-nav */
.footer-nav {
  display: flex;
  justify-content: center;
  background-color: black;
  text-align: center;
  height: 40px;
  border-top: white 1px solid;
  border-bottom: white 1px solid
}

/* Estilos para los enlaces dentro del div .footer-nav */
.footer-nav a {
  display: inline-block;
  margin: 10px;
  background-color:black;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  width: 200px;
}

/* Estilos cuando el cursor se coloca encima del enlace */
.footer-nav a:hover {
  background-color: rgba(255, 0, 0, 0.656);
  color: white;
  transform: scale(1.1);
  border-radius: 80px 20px;
}

.footer-logos{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.footer-ubi{
  justify-content: center;
  text-align: center;
  max-width: 50%;
  margin-left: 50px;
}

.footer-patro{
  text-align: center;
  max-width: 50%;
  margin-right: 40px;
}

}

@media (min-width: 650px) and (max-width: 900px){

  .logoAF{  
    max-width: 80px;
    height: auto;
    margin-left: 20px;
  }
  .logoGF{  
    max-width: 80px;
    height: auto;
    margin-left: 20px;
  }
  .logoMF{  
    max-width: 80px;
    height: auto;
    margin-left: 20px;
  }
  .logoBF{  
    max-width: 90px;
    height: auto;
    margin-left: 20px;
  }
  .logoLF{  
      max-width: 60px;
      height: auto;
      margin-left: 20px;
  }
  .footer{
    background-color: black;
  }
  .footer h4{
    color:white
  }
  .logoIH{
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .logoIH:hover{
    transform: scale(1.8);
  }
  .logoLF:hover{
    transform: scale(1.8);
    
  }
  /* Estilos para el div .footer-nav */
  .footer-nav {
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    height: 40px;
    border-top: white 1px solid;
    border-bottom: white 1px solid
  }
  
  /* Estilos para los enlaces dentro del div .footer-nav */
  .footer-nav a {
    display: inline-block;
    margin: 10px;
    background-color:black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 350px;
  }
  
  /* Estilos cuando el cursor se coloca encima del enlace */
  .footer-nav a:hover {
    background-color: rgba(255, 0, 0, 0.656);
    color: white;
    transform: scale(1.1);
    border-radius: 80px 20px;
  }
  
  .footer-logos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 60px;
  }
  .footer-ubi{
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin-left: 50px;
  }
  
  .footer-patro{
    text-align: center;
    max-width: 50%;
    margin-right: 60px;
    
  }

}

@media (min-width: 901px) and (max-width: 1200px){

  .logoAF{  
    max-width: 90px;
    height: auto;
    margin-left: 20px;
  }
  .logoGF{  
    max-width: 90px;
    height: auto;
    margin-left: 20px;
  }
  .logoMF{  
    max-width: 90px;
    height: auto;
    margin-left: 20px;
  }
  .logoBF{  
    max-width: 180px;
    height: auto;
    margin-left: 20px;
  }
  .logoLF{  
      max-width: 70px;
      height: auto;
      margin-top: 20px;
  }
  .footer{
    background-color: black;
  }
  .footer h4{
    color:white
  }
  .logoIH{
    max-width: 70px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  .logoIH:hover{
    transform: scale(1.8);
  }
  .logoLF:hover{
    transform: scale(1.8);
    
  }
  /* Estilos para el div .footer-nav */
  .footer-nav {
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    height: 40px;
    border-top: white 1px solid;
    border-bottom: white 1px solid
  }
  
  /* Estilos para los enlaces dentro del div .footer-nav */
  .footer-nav a {
    display: inline-block;
    margin: 10px;
    background-color:black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 400px;
  }
  
  /* Estilos cuando el cursor se coloca encima del enlace */
  .footer-nav a:hover {
    background-color: rgba(255, 0, 0, 0.656);
    color: white;
    transform: scale(1.1);
    border-radius: 80px 20px;
  }
  
  .footer-logos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 70px;
  }
  .footer-ubi{
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin-left: 60px;
  }
  
  .footer-patro{
    text-align: center;
    max-width: 50%;
    margin-right: 70px;
    
  }

}

@media (min-width: 1201px) {


  .logoAF{  
    max-width: 90px;
    height: auto;
    margin-left: 40px;
  }
  .logoGF{  
    max-width: 90px;
    height: auto;
    margin-left: 40px;
  }
  .logoMF{  
    max-width: 90px;
    height: auto;
    margin-left: 40px;
  }
  .logoBF{  
    max-width: 180px;
    height: auto;
    margin-left: 40px;
  }
  .logoLF{  
      max-width: 70px;
      height: auto;
      margin-top: 20px;
  }
  .footer{
    background-color: black;
  }
  .footer h4{
    color:white
  }
  .logoIH{
    max-width: 70px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 80px;
  }
  .logoIH:hover{
    transform: scale(1.8);
  }
  .logoLF:hover{
    transform: scale(1.8);
    
  }
  /* Estilos para el div .footer-nav */
  .footer-nav {
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    height: 40px;
    border-top: white 1px solid;
    border-bottom: white 1px solid
  }
  
  /* Estilos para los enlaces dentro del div .footer-nav */
  .footer-nav a {
    display: inline-block;
    margin: 10px;
    background-color:black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    width: 600px;
  }
  
  /* Estilos cuando el cursor se coloca encima del enlace */
  .footer-nav a:hover {
    background-color: rgba(255, 0, 0, 0.656);
    color: white;
    transform: scale(1.1);
    border-radius: 80px 20px;
  }
  
  .footer-logos{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-left: 100px;
  }
  .footer-ubi{
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin-left: 80px;
  }
  
  .footer-patro{
    text-align: center;
    max-width: 50%;
    margin-right: 70px;
    
  }

}
